*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* max-width: 100%; */
}
html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(atmosphere-8752835_1280.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.content{
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    z-index: 1;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    
    }
    @media (max-width:768px) {
        .content{
            flex-direction: column;
        }
    }
.search{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 20px;
    padding: 5px;
    padding-top: 40px;
    background-color:#F5F5F5;
    padding-bottom: 40px;
}
.search-heading,input,button{
    margin:5px;
    padding: 5px;
}
.data{
    border: 2px solid black;
    margin: 20px;
    z-index: 2;
    width: 100%;
    max-width: 500px;
    padding: 5px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F5F5F5 !important;
    /* background-color: red; */
    position: relative;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15)


}
.data.icon {
    width: 100px;
    height: 100px;
    display: block;
    margin: 10px auto;
    object-fit: contain;
  }
  